@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

.test-on {
  @apply fixed inset-0 min-h-screen bg-black/90 rounded
         transition-transform duration-500 translate-x-0;
}

.test-off {
  @apply fixed inset-0 min-h-screen bg-black/90 rounded
         transition-transform duration-500 -translate-x-full;
}
.heading{
  @apply font-bold text-2xl;
}
.semihead{
  @apply font-semibold text-xl
}

.input1{
  @apply p-3 rounded text-center ring ring-green-600
}