@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

/* Hide Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
/* Horizontal Scrollbar */

.custom-scroll::-webkit-scrollbar {
  height: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 999px;
  margin: 0 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    #16a34a,
    #22c55e
  );
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    90deg,
    #15803d,
    #16a34a
  );
}

/* Firefox */

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #16a34a #e5e7eb;
}